<div class="row">
    <div class="col-xl-5 pa-0">
        <div id="owl_demo_1" class="owl-carousel dots-on-item owl-theme">
            <div class="fadeOut item auth-cover-img overlay-wrap" style="background-image:url(/dist/img/clip_bg1.jpg);">
                <div class="auth-cover-info py-xl-0 pt-100 pb-50">
                    <div class="auth-cover-content text-center w-xxl-75 w-sm-90 w-xs-100">
                        <h1 class="display-3 text-white mb-20">Hi There</h1>
                        <p class="text-white">Are you ready to do something great ?</p>
                    </div>
                </div>
                <div class="bg-overlay bg-trans-dark-50"></div>
            </div>
            <div class="fadeOut item auth-cover-img overlay-wrap" style="background-image:url(/dist/img/clip_bg2.jpg);">
                <div class="auth-cover-info py-xl-0 pt-100 pb-50">
                    <div class="auth-cover-content text-center w-xxl-75 w-sm-90 w-xs-100">
                        <h1 class="display-3 text-white mb-20">You Are One Click Away.</h1>
                        <p class="text-white">Do your final year magic and we will do ours :P .</p>
                    </div>
                </div>
                <div class="bg-overlay bg-trans-dark-50"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-7 pa-0">
        <div class="auth-form-wrap py-xl-0 py-50">
            <div class="auth-form w-xxl-55 w-xl-75 w-sm-90 w-xs-100">
                  
                    {{#if error}}
                    <p>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
               <span class="alert-text">{{error}}</span>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">×</span>
               </button>
             </div>
            </p>
             {{/if}}
                
                <form method="POST" action="/login/{{role}}">
                
                    <input type="hidden"
                    class="form-control" name="role" value="{{role}}" >
             <input type="hidden"
                    class="form-control" name="_csrf" value="{{csrfToken}}" >
                    <h1 class="display-4 mb-10">Welcome Back :)</h1>
                    <p class="mb-30">Sign in to your account and do something awesome.</p>
                  

                     <div class="form-group">
                        <div class="input-group">
                           <input id="email" class="form-control"
                        required autocomplete="email" autofocus name="email"
                        value="" placeholder="Email" type="email">
                            <div class="input-group-append">
                                <span class="input-group-text"><span class="feather-icon"><i data-feather="mail"></i></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input id="password" type="password"
                            placeholder="Enter Password"
                            class="form-control" name="password"
                            required autocomplete="current-password">
                            <div class="input-group-append">
                                <span class="input-group-text"><span class="feather-icon"><i data-feather="lock"></i></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="custom-control custom-checkbox mb-25">
                        <input class="custom-control-input" id="same-address" type="checkbox" checked>
                        <label class="custom-control-label font-14" for="same-address">Keep me logged in</label>
                    </div>

                    <button class="btn btn-primary btn-block" type="submit">Login</button>

                    <div class="option-sep">or</div>

                    <p class="text-center">Do have an account yet? <a href="/signup/{{role}}">Sign Up</a></p>

                </form>
            </div>
        </div>
    </div>

</div>