                 <div class="row">
                    <div class="col-xl-5 pa-0">
                        <div class="auth-cover-img overlay-wrap" style="background-image:url(/dist/img/signup_clip3.jpg);">
                            <div class="auth-cover-info py-xl-0 pt-100 pb-50">
                                <div class="auth-cover-content w-xxl-75 w-sm-90 w-100">
                                    <h1 class="display-3 text-white mb-20">Enjoy unlimited beautiful display content area</h1>
                                    <p class="text-white">The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with their software.</p>
<!--                                    <div class="play-wrap">-->
<!--                                        <a class="play-btn" href="#"></a>-->
<!--                                        <span>How it works ?</span>-->
<!--                                    </div>-->
                                </div>
                            </div>
                            <div class="bg-overlay bg-trans-dark-50"></div>
                        </div>
                    </div>
                    <div class="col-xl-7 pa-0">
                        <div class="auth-form-wrap py-xl-0 py-50">
                            <div class="auth-form w-xxl-55 w-xl-75 w-sm-90 w-100">
                                <h1 class="display-4 mb-10">Sign up as {{role}}</h1>
                                    <p class="mb-30">Create your account and start your free trial today</p>
                {{#if error}}
                     <p>
                     <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="alert-text">{{error}}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              </p>
              {{/if}}
                                <form method="POST" action="/signup/{{role}}">
                                
                                    <input type="hidden"
                                           class="form-control" name="_csrf" value="{{csrfToken}}" >
                                    <input type="hidden"
                                           class="form-control" name="role" value="{{role}}" >

                                    {{#if adminAcc}}
                                        <div class="form-row">
                                         <div class="input-group">
                                           <input id="name" class="form-control"
                                           required autocomplete="name" autofocus name="name"
                                           value="" placeholder="Full Name" type="text">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="feather-icon"><i data-feather="user"></i></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                         <div class="input-group">
                                         <input id="email" class="form-control"
                                           required autocomplete="email" autofocus name="email"
                                           value="" placeholder="Email" type="email">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="feather-icon"><i data-feather="mail"></i></span></span>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input id="password" type="password"
                                           placeholder="Password"
                                           class="form-control" name="password"
                                           required autocomplete="current-password">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="feather-icon"><i data-feather="lock"></i></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}

                                    {{#if teacherAcc}}
                                        <div class="form-row">
                                            <div class="col-md-6 form-group">
                                            <div class="input-group">
                                            <input id="name" class="form-control"
                                            required autocomplete="name" autofocus name="name"
                                            value="" placeholder="Full Name" type="text">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><span class="feather-icon"><i data-feather="user"></i></span></span>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="col-md-6 form-group">
                                            <select class="form-control custom-select" name="gender" id="campus" required>
                                                <option disabled selected value="">Select gender</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>                              
                                                </select>
                                            </div>
                                        </div>

                                        
                                        <div class="form-group">
                                                <div class="input-group">
                                                <input id="regNo" class="form-control"
                                            required autocomplete="regNo" autofocus name="regNo"
                                            value="" placeholder="Registration Number" type="text">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><span class="feather-icon"><i data-feather="credit-card"></i></span></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                            <input id="email" class="form-control"
                                            required autocomplete="email" autofocus name="email"
                                            value="" placeholder="Email" type="email">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><span class="feather-icon"><i data-feather="mail"></i></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <select class="form-control custom-select" name="campus" id="campus" required>
                                                <option disabled selected value="">Select campus</option>
                                                <option value="Karachi">Karachi Campus</option>
                                                <option value="Islamabad">Islamabad Campus</option>
                                                <option value="Lahore">Lahore Campus</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control  custom-select" name="department" id="department" required>
                                                <option disabled selected value="">Select Department</option>
                                                <option value="CS">Computer Science</option>
                                                <option value="SE">Software Engineering</option>
                                                <option value="CE">Computer Engineering</option>
                                                </select>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input id="password" type="password"
                                            placeholder="Password"
                                            class="form-control" name="password"
                                            required autocomplete="current-password">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><span class="feather-icon"><i data-feather="lock"></i></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    {{/if}}
                                    {{#if studentAcc}}
                                        <div class="form-row">
                                            <div class="col-md-6 form-group">
                                            <div class="input-group">
                                            <input id="name" class="form-control"
                                            required autocomplete="name" autofocus name="name"
                                            value="" placeholder="Full Name" type="text">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><span class="feather-icon"><i data-feather="user"></i></span></span>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="col-md-6 form-group">
                                            <select class="form-control custom-select" name="gender" id="campus" required>
                                                <option disabled selected value="">Select gender</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>                              
                                                </select>
                                            </div>
                                        </div>

                                        
                                        <div class="form-group">
                                                <div class="input-group">
                                                <input id="regNo" class="form-control"
                                            required autocomplete="regNo" autofocus name="regNo"
                                            value="" placeholder="Registration Number" type="text">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><span class="feather-icon"><i data-feather="credit-card"></i></span></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                            <input id="email" class="form-control"
                                            required autocomplete="email" autofocus name="email"
                                            value="" placeholder="Email" type="email">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><span class="feather-icon"><i data-feather="mail"></i></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <select class="form-control custom-select" name="campus" id="campus" required>
                                                <option disabled selected value="">Select campus</option>
                                                <option value="Karachi">Karachi Campus</option>
                                                <option value="Islamabad">Islamabad Campus</option>
                                                <option value="Lahore">Lahore Campus</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control custom-select" name="semester" id="semester" required>
                                                <option disabled selected value="">Select semester</option>
                                                <option value="6">Sixth</option>
                                                <option value="7">Seventh</option>
                                                <option value="8">Eigth</option>
                                                </select>
                                            </div>
                                        </div>
                                    
                                        
                                        <div class="form-group">
                                            <select class="form-control  custom-select" name="department" id="department" required>
                                            <option disabled selected value="">Select Department</option>
                                            <option value="CS">Computer Science</option>
                                            <option value="SE">Software Engineering</option>
                                            <option value="CE">Computer Engineering</option>
                                            </select>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input id="password" type="password"
                                            placeholder="Password"
                                            class="form-control" name="password"
                                            required autocomplete="current-password">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><span class="feather-icon"><i data-feather="lock"></i></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    {{/if}}

                                    <div class="custom-control custom-checkbox mb-25">
                                        <input class="custom-control-input" id="same-address" type="checkbox" checked>
                                        <label class="custom-control-label font-14" for="same-address">I have read and agree to the <a href="#"><u>term and conditions</u></a></label>
                                    </div>
                                    
                                    <button class="btn btn-primary btn-block" type="submit">Register</button>
                                    <div class="option-sep">or</div>
                                    <p class="text-center">Already have an account? <a href="/login/{{role}}">Sign In</a></p>
 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
