<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header d-flex align-items-center">
            <a class="navbar-brand text-primary" href="/">
              FYP <i class="fas fa-heart"></i>
            </a>
            <div class="ml-auto">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item {{#if  Dashboard }}  active    {{/if}}">
                        <a class="nav-link {{#if  Dashboard }} text-primary {{else}} text-default   {{/if}}"
                           href="/">
                            <i class="fas fa-store"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                     <li class="nav-item {{#if  Students }}  active    {{/if}}">
                        <a class="nav-link {{#if  Students }} text-primary {{else}} text-default   {{/if}}"
                           href="/students">
                            <i class="fas fa-graduation-cap"></i>
                            <span class="nav-link-text">Students</span>
                        </a>
                    </li>
                    <li class="nav-item {{#if  Teachers }} text-primary {{else}} text-default   {{/if}}">
                        <a class="nav-link {{#if  Teachers }} text-primary {{else}} text-default   {{/if}}"
                           href="/teachers">
                            <i class="fas fa-chalkboard-teacher"></i>
                            <span class="nav-link-text">Teachers</span>
                        </a>
                    </li>
                    <li class="nav-item {{#if  Projects }} text-primary {{else}} text-default   {{/if}}">
                        <a class="nav-link {{#if  Projects }} text-primary {{else}} text-default   {{/if}}"
                           href="/projects">
                            <i class="fas fa-project-diagram"></i>
                            <span class="nav-link-text">Projects</span>
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">Documentation</h6>
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://demos.creative-tim.com/argon-dashboard/docs/getting-started/overview.html"
                           target="_blank">
                            <i class="ni ni-spaceship"></i>
                            <span class="nav-link-text">Getting started</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://demos.creative-tim.com/argon-dashboard/docs/foundation/colors.html"
                           target="_blank">
                            <i class="ni ni-palette"></i>
                            <span class="nav-link-text">Foundation</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>