<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Accounts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Display</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<!-- Container -->
<div class="container-fluid">

    <!-- Title -->
    <div class="hk-pg-header">
        <div class="row w-100">
            <div class="col-md-4">
                <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="text-primary feather-icon"><i
                        data-feather="users"></i></span></span>Accounts</h4>
            </div>
            <div class="col-md-8 pr-0 text-right">
                {{#if adminLogin}}
                    <a class="btn btn-gradient-success btn-sm" href="/adminAccount/create">Create New Account</a>
                {{/if}}
            </div>
        </div>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <div class="row">
                    <div class="col-md-8">
                        {{#if adminAcc}}
                            <h5 class="hk-sec-title">Admin Accounts</h5>
                        {{else if teacherAcc}}
                            <h5 class="hk-sec-title">Teacher Accounts</h5>
                        {{else if studentAcc}}
                            <h5 class="hk-sec-title">Student Accounts</h5>
                        {{else}}
                            <h5 class="hk-sec-title">All Accounts</h5>
                        {{/if}}
                        <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dignissimos
                            perspiciatis sapiente sunt veniam. Dolorem dolorum ipsam praesentium, quis ratione velit. Asperiores
                            eaque eos laudantium modi! Nisi odio quasi totam.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <form method="get" role="search" action="/adminAccounts" class="form-inline pull-right">
                            <div class="form-group mb-2">
                                <select required name="role" class="custom-select">
                                    <option value="">Select to filter</option>
                                    <option value="all">All Accounts</option>
                                    <option value="admin">Admin Accounts</option>
                                    <option value="teacher">Teacher Accounts</option>
                                    <option value="student">Student Accounts</option>
                                </select>
                                <button type="submit" class="btn btn-gradient-primary ml-2" >Account Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            {{#if success}}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                    <span class="alert-text"><strong>Success!</strong> {{success}}</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            {{/if}}
                            <table id="datable_1" class="table table-hover w-100 display pb-30">
                                <thead>
                                <tr>
                                    <th>Register No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#if account}}
                                    {{#each account}}
                                        <!-- <th class="text-center" colspan="6">Show All Students Here.</th> -->
                                        <tr>
                                            <td>
                                                {{#if this.regNo}}
                                                    {{this.regNo}}
                                                {{else}}
                                                    -
                                                {{/if}}
                                            </td>
                                            <td>{{this.name}}</td>
                                            <td>{{this.email}}</td>
                                            <td>{{this.role}}</td>
                                            <td><span class="badge badge-status-{{this.status}}">{{this.status}}</span>
                                            </td>
                                            <td>
                                                <div class="btn-group" role="group"
                                                     aria-label="Basic example">
                                                    <a style="margin-right:3px;"
                                                       class="btn btn-outline-orange btn-sm"
                                                       href="/adminAccount/update/{{this.id}}">Edit</a>
                                                    <form onsubmit="return form_confirm(this);" method="POST"
                                                          action="/adminAccount/delete/{{this.id}}">
                                                        <input type="hidden" name="_csrf"
                                                               value="{{../csrfToken}}"
                                                               class="form-control">
                                                        <button class="btn btn-outline-danger btn-sm"
                                                                type="submit">Delete
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    {{/each}}
                                    <script>
                                        function form_confirm(form) {
                                            Swal.fire({
                                                title: 'Are you sure?',
                                                text: "You won't be able to revert this!",
                                                icon: 'warning',
                                                showCancelButton: true,
                                                confirmButtonText: 'Yes, delete it!'
                                            }).then((result) => {
                                                if (result.value) {
                                                    Swal.fire(
                                                            'Deleted!',
                                                            'Your file has been deleted.',
                                                            'success'
                                                    )
                                                    return form.submit();
                                                }
                                            });
                                            return false;
                                        }
                                    </script>
                                {{/if}}
                                </tbody>
                                <script type="text/javascript">
                                    $('.badge-status-enable').addClass('badge-success');
                                    $('.badge-status-disable').addClass('badge-danger');
                                </script>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->

</div>
<!-- /Container -->