<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Accounts</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{account.name}}</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<!-- Container -->
<div class="container-fluid">

    <!-- Title -->
    <div class="hk-pg-header">
        <div class="row w-100">
            <div class="col-md-6">
                <h4 class="text-capitalize hk-pg-title"><span class="pg-title-icon"><span class="text-primary feather-icon"><i
                        data-feather="user"></i></span></span>{{account.name}} Account</h4>
            </div>
            <div class="col-md-6 pr-0 text-right">
                <a class="btn btn-primary" href="/adminAccounts">Show All Accounts</a>
            </div>
        </div>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title text-capitalize">Edit {{account.name}} Account Information</h5>
                <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dignissimos
                    perspiciatis sapiente sunt veniam. Dolorem dolorum ipsam praesentium, quis ratione velit. Asperiores
                    eaque eos laudantium modi! Nisi odio quasi totam.
                </p>
                <div class="row">
                    <div class="col-sm">
                        <form method="POST" action="/adminAccount/update/{{account.id}}">
                            <input type="hidden"
                                   class="form-control" name="_csrf" value="{{csrfToken}}">

                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label for="regNo">Registration Number</label>
                                    <input id="regNo" class="form-control"
                                           required autocomplete="regNo" autofocus name="regNo"
                                           value="{{account.regNo}}" placeholder="Registration Number" type="text">
                                </div>
                            </div>
 
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label for="name">Name</label>
                                    <input id="name" class="form-control"
                                           required autocomplete="name" autofocus name="name"
                                           value="{{account.name}}" placeholder="Full Name" type="text">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="gender">Gender</label>
                                    <select class="form-control custom-select" name="gender" id="gender">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                    <script type="text/javascript">
                                        $('#gender option[value="{{account.gender}}"]').prop('selected', true)
                                    </script>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label for="email">Email Address</label>
                                    <input id="email" class="form-control"
                                           required autocomplete="email" autofocus name="email"
                                           value="{{account.email}}" placeholder="Email" type="email">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="department">Department</label>
                                    <select class="form-control  custom-select" name="department" id="department">
                                        <option value="Computer Science">Computer Science</option>
                                        <option value="Software Engineering">Software Engineering</option>
                                        <option value="Computer Engineering">Computer Engineering</option>
                                    </select>
                                    <script type="text/javascript">
                                        $('#department option[value="{{account.department}}"]').prop('selected', true)
                                    </script>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label for="campus">Campus</label>
                                    <select class="form-control custom-select" name="campus" id="campus">
                                        <option value="Karachi">Karachi Campus</option>
                                        <option value="Islamabad">Islamabad Campus</option>
                                        <option value="Lahore">Lahore Campus</option>
                                    </select>
                                    <script type="text/javascript">
                                        $('#campus option[value="{{account.campus}}"]').prop('selected', true)
                                    </script>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="status">Status</label>
                                    <select class="form-control  custom-select" name="status" id="status">
                                        <option value="enable">Enable</option>
                                        <option value="disable">Disable</option>
                                    </select>
                                    <script type="text/javascript">
                                        $('#status option[value="{{account.status}}"]').prop('selected', true)
                                    </script>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <button class="btn btn-outline-orange" type="submit">Update Information</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->

</div>
<!-- /Container -->