 <!-- Header -->
    <div class="row align-items-center py-4">
        <div class="col">
            <h6 class="h2 text-white d-inline-block mb-0">Administrator</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-users"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Project</a></li>
                    <li class="breadcrumb-item active" aria-current="page">All</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="mb-0">Datatable</h3>
                            <p class="text-sm mb-0">
                                Showing all the Projects of the application.
                            </p>
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="btn btn-primary" href="/projects/create">Create New Project</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive py-4">
                    <table class="table dataTable align-items-center table-hover" id="datatable-basic">
                        <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>IDE</th>
                            <th>Created At</th>
                            <th>Semester</th>
                            <th>Departmemt</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#if project}} 
                                {{#each project}}
                                    <!-- <th class="text-center" colspan="6">Show All Students Here.</th> --> 
                                    <tr>
                                    <th>{{this.name}}</th>
                                    <th>{{this.IDE}}</th>
                                    <th>{{this.createdAt}}</th>
                                    <th>{{this.semester}}</th>
                                    <th>{{this.department}}</th>
                                    </tr>
                                {{/each}}
                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>