<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">All</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<!-- Container -->
<div class="container-fluid">

    <!-- Title -->
    <div class="hk-pg-header">
        <div class="row w-100">
            <div class="col-md-6">
                <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon text-primary"><i
                        data-feather="file"></i></span></span>Projects</h4>
            </div>
            <div class="col-md-6 pr-0 text-md-right">
                <a class="btn btn-sm btn-gradient-primary" href="/projects">All Projects</a>
                {{#if adminLogin}}
                    <a class="btn btn-sm btn-gradient-info" href="/admin/proposedProjects">Proposed</a>
                    <a class="btn btn-sm btn-gradient-success" href="/projects/create">Create New Project</a>
                {{/if}}
            </div>
        </div>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Projects</h5>
                <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dignissimos
                    perspiciatis sapiente sunt veniam. Dolorem dolorum ipsam praesentium, quis ratione velit. Asperiores
                    eaque eos laudantium modi! Nisi odio quasi totam.
                </p>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            {{#if success}}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                    <span class="alert-text"><strong>Success!</strong> {{success}}</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            {{/if}}
                            <table id="datable_1" class="table table-hover w-100 display pb-30">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>IDE</th>
                                    <th>Semester</th>
                                    <th>Departmemt</th>
                                    <th>year</th>
                                    {{#if adminLogin}}
                                        <th>proposed By</th>
                                    {{/if}}
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#if project}}
                                    {{#if adminLogin}}
                                        <!-- <th class="text-center" colspan="6">Show All Projects Here.</th> -->
                                        {{#each project}}
                                            <tr>
                                                <td>{{this.name}}</td>
                                                <td>{{this.IDE}}</td>
                                                <td>{{this.semester}}</td>
                                                <td>{{this.department}}</td>
                                                <td>{{this.year}}</td>
                                                <td>{{this.ownerName}}</td>
                                                <td>
                                                    <div class="btn-group" role="group"
                                                         aria-label="Basic example">
                                                        <a class="btn btn-sm btn-outline-info mr-5"
                                                           href="/viewproject/{{this.id}}">View</a>
                                                        <a class="btn btn-sm btn-outline-orange mr-5"
                                                           href="/projects/update/{{this.id}}">Edit</a>
                                                        <form onsubmit="return form_confirm(this);" id="projectForm"
                                                              method="POST"
                                                              action="/projects/delete/{{this.id}}">
                                                            <input type="hidden" name="_csrf" value="{{../csrfToken}}"
                                                                   class="form-control">
                                                            <button class="btn btn-sm btn-outline-danger"
                                                                    type="submit">Delete
                                                            </button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        {{/each}}
                                        <script>
                                            function form_confirm(form) {
                                                Swal.fire({
                                                    title: 'Are you sure?',
                                                    text: "You won't be able to revert this!",
                                                    icon: 'warning',
                                                    showCancelButton: true,
                                                    confirmButtonText: 'Yes, delete it!'
                                                }).then((result) => {
                                                    if (result.value) {
                                                        Swal.fire(
                                                                'Deleted!',
                                                                'Your file has been deleted.',
                                                                'success'
                                                        )
                                                        return form.submit();
                                                    }
                                                });
                                                return false;
                                            }
                                        </script>
                                    {{else}}
                                        {{#each project}}
                                            <!-- <th class="text-center" colspan="6">Show All Projects Here.</th> -->
                                            <tr>
                                                <td>{{this.name}}</td>
                                                <td>{{this.IDE}}</td>
                                                <td>{{this.semester}}</td>
                                                <td>{{this.department}}</td>
                                                <td>{{this.year}}</td>
                                                <td>
                                                    <a class="btn btn-sm btn-outline-info"
                                                       href="/viewproject/{{this.id}}">View
                                                        Project</a>
                                                </td>
                                            </tr>
                                        {{/each}}
                                    {{/if}}
                                {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->
</div>
<!-- /Container -->