<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Projects</a></li>
        <li class="breadcrumb-item"><a href="#">{{project.year}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{project.name}}</li>
    </ol>
</nav>
<!-- /Breadcrumb -->
 
<!-- Container -->
<div class="container-fluid">

    <!-- Title -->
    <div class="hk-pg-header">
        <div class="row w-100">
            <div class="col-md-6">
                <h4 class="text-capitalize hk-pg-title"><span class="pg-title-icon"><span class="feather-icon text-primary"><i
                        data-feather="edit"></i></span></span>Edit {{project.name}} Project</h4>
            </div>
            <div class="col-md-6 pr-0 text-md-right">
                {{#if adminLogin}}
                    <a class="btn btn-sm btn-primary" href="/projects">All Projects</a>
                    <a class="btn btn-sm btn-info" href="/admin/proposedProjects">Proposed</a>
                {{/if}}
            </div>
        </div>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title text-capitalize">Edit {{project.name}} {{project.year}} Project Information</h5>
                <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dignissimos
                    perspiciatis sapiente sunt veniam. Dolorem dolorum ipsam praesentium, quis ratione velit. Asperiores
                    eaque eos laudantium modi! Nisi odio quasi totam.
                </p>
                <div class="row">
                    <div class="col-sm">
                        {{#if success}}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                <span class="alert-text"><strong>Success!</strong> {{success}}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        {{/if}}
                        <form method="POST" action="/projects/update/{{project.id}}">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}"
                                   class="form-control">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name" class="form-control-label">Name</label>
                                        <input value="{{project.name}}"  required type="text"
                                               placeholder="Enter Project Name"  name="name" class="form-control" id="name"  >
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="gender">Language</label>
                                        <select required class="form-control custom-select" name="language" id="language">
                                            <option disabled selected value="">Select Language</option>
                                            <option value="C">C</option>
                                            <option value="C#">C#</option>
                                            <option value="C++">C++</option>
                                            <option value="Java">Java</option>
                                            <option value="Node js">Node js</option>
                                            <option value="php">Php</option>
                                        </select>
                                        <script type="text/javascript">
                                        $('#language option[value="{{project.language}}"]').prop('selected', true)
                                        </script>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="IDE" class="form-control-label">Integrated Development Environment </label>
                                        <select required class="form-control custom-select" name="IDE" id="IDE">
                                            <option disabled selected value="">Select IDE</option>
                                            <option value="Dev++">Dev++</option>
                                            <option value="NetBeans">NetBeans</option>
                                            <option value="Visual Studio">Visual Studio</option>
                                            <option value="Visual Studio Code">Visual Studio Code</option>
                                            <option value="Android Studio">Android Studio</option>
                                        </select>
                                        <script type="text/javascript">
                                        $('#IDE option[value="{{project.IDE}}"]').prop('selected', true)
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="type" class="form-control-label">Type</label>
                                        <select required class="form-control custom-select" name="type" id="type">
                                            <option disabled selected value="">Select Type</option>
                                            <option value="Desktop Application">Desktop Application</option>
                                            <option value="Mobile Application">Mobile Application</option>
                                            <option value="Web Application">Web Application</option>
                                        </select>
                                        <script type="text/javascript">
                                        $('#type option[value="{{project.type}}"]').prop('selected', true)
                                        </script>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="department" class="form-control-label">Department</label>
                                        <select required  class="form-control custom-select" name="department" id="department">
                                            <option disabled selected value="">Select Department</option>
                                            <option value="cs">Computer Science</option>
                                            <option value="se">Software Engineering</option>
                                        </select>
                                        <script type="text/javascript">
                                        $('#department option[value="{{project.department}}"]').prop('selected', true)
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="semester" class="form-control-label">Semester</label>
                                        <select required class="form-control custom-select" name="semester" id="semester">
                                            <option disabled selected value="">Select Semester</option>
                                            <option value="6">Sixth Semester</option>
                                            <option value="7">Seventh Semester</option>
                                        </select>
                                        <script type="text/javascript">
                                        $('#semester option[value="{{project.semester}}"]').prop('selected', true)
                                        </script>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="year" class="form-control-label" >Year</label>
                                        <input name="year"  value="{{project.year}}" required placeholder="Enter year of Project" type="number"  id="year" class="form-control"  >
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="description" class="form-control-label">Description</label>
                                        <textarea name="description" required placeholder="Enter Description About Project"
                                                  rows="5"   id="description" class="form-control"  >{{project.description}}</textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-orange">Save Changes</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->
</div>
<!-- /Container -->