<!--Custom Styling -->
<style type="text/css">
    input,textarea{
        cursor:context-menu;
    }
</style>
<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Projects</a></li>
        <li class="breadcrumb-item"><a href="#">{{project.year}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{project.name}}</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<!-- Container -->
<div class="container-fluid">

    <!-- Title -->
    <div class="hk-pg-header">
        <div class="row w-100">
            <div class="col-md-6">
                <h4 class="text-capitalize hk-pg-title"><span class="pg-title-icon"><span class="feather-icon text-primary"><i
                        data-feather="file-text"></i></span></span>{{project.name}} Project</h4>
            </div>
            <div class="col-md-6 pr-0 text-md-right">
                    <a class="btn btn-sm btn-primary" href="/projects">All Projects</a>
                    <a class="btn btn-sm btn-info" href="/admin/proposedProjects">Proposed</a>
            </div>
        </div>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title text-capitalize">{{project.name}} {{project.year}} Project Information</h5>
                <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dignissimos
                    perspiciatis sapiente sunt veniam. Dolorem dolorum ipsam praesentium, quis ratione velit. Asperiores
                    eaque eos laudantium modi! Nisi odio quasi totam.
                </p>
                <div class="row">
                    <div class="col-sm">
                        <form>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name" class="form-control-label">Name</label>
                                        <input value="{{project.name}}" required type="text"
                                               placeholder="Enter Project Name" class="form-control" id="name" readonly>
                                    </div>
                                </div>
                                {{#if project.ownerName}}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ownerName" class="form-control-label">Proposed By</label>
                                            <input type="text" id="ownerName" value="{{project.ownerName}}"
                                                   class="form-control" readonly>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="language" class="form-control-label">Language</label>
                                        <input value="{{project.language}}" required type="text"
                                               id="language" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="IDE" class="form-control-label">Integrated Development Environment </label>
                                        <input value="{{project.IDE}}" required type="text" id="IDE"
                                               class="form-control" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="type" class="form-control-label">Type</label>
                                        <input value="{{project.type}}" required type="text"  id="type"
                                               class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="department" class="form-control-label">Department</label>
                                        <input value="{{project.department}}" required type="text"
                                               id="department" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="semester" class="form-control-label">Semester</label>
                                        <input value="{{project.semester}}" required type="text"
                                               id="semester" class="form-control" readonly>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="year" class="form-control-label" >Year</label>
                                        <input  value="{{project.year}}" required placeholder="Enter year of Project" type="text"  id="year" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="description" class="form-control-label">Description</label>
                                        <textarea required placeholder="Enter Description About Project"
                                               rows="5"   id="description" class="form-control" readonly>{{project.description}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->
</div>
<!-- /Container -->