<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Proposed</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<!-- Container -->
<div class="container-fluid">

    <!-- Title -->
    <div class="hk-pg-header">
        <div class="row w-100">
            <div class="col-md-6">
                <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon text-primary"><i
                        data-feather="file"></i></span></span>Proposed Projects</h4>
            </div>
            <div class="col-md-6 pr-0 text-md-right">
                {{#if adminLogin}}
                    <a class="btn btn-sm btn-primary" href="/projects">All Projects</a>
                    <a class="btn btn-sm btn-info" href="/admin/proposedProjects">Proposed</a>
                    <a class="btn btn-sm btn-success" href="/projects/create">Create New Project</a>
                   {{else}}

                        <a class="btn btn-gradient-info" href="/proposed/proposeNewProject">Propose New Project</a>

                {{/if}}

            </div>
        </div>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Proposed Projects</h5>
                <p class="mb-40">See all proposed projects submitted by faculty and students.
                </p>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            {{#if success}}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                    <span class="alert-text"><strong>Success!</strong> {{success}}</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            {{/if}}
                            {{#if error}}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                    <span class="alert-text"><strong>Error!</strong> {{error}}</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            {{/if}}
                            <table id="datable_1" class="table table-hover w-100 display pb-30">
                                <thead>
                                <tr>
                                    <th>Name of Project</th>
                                    <th>Year</th>
                                    <th>Season</th>
                                    <th>proposed By</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#if studentLogin}}
                                    {{#if project}}
                                        {{#if fyp_check}}
                                            {{#each project}}
                                            <!-- <th class="text-center" colspan="6">Show All Proposed Projects Here.</th> -->
                                            <tr>
                                                <td class="text-capitalize">{{this.name}}</td>
                                                <td>{{this.year}}</td>
                                                <td>{{this.season}}</td>
                                                <td class="text-capitalize">{{this.ownerName}}</td>
                                                <td class="d-flex">
                                                    <a class="btn btn-sm btn-outline-info mr-5" href="/viewproject/{{this.id}}">View Project</a>
                                                    <form  onsubmit="return form_confirm(this);" method="POST" action="/projects/requestProject/{{this.id}}">
                                                        <input type="hidden" name="ownerID" value="{{this.ownerID}}">
                                                        <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                                        <button class="btn btn-sm btn-outline-green" type="submit">Request Project</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        {{else}}
                                            {{#each project}}
                                            <!-- <th class="text-center" colspan="6">Show All Proposed Projects Here.</th> -->
                                            <tr>
                                                <td class="text-capitalize">{{this.name}}</td>
                                                <td>{{this.year}}</td>
                                                <td>{{this.season}}</td>
                                                <td class="text-capitalize">{{this.ownerName}}</td>
                                                <td class="d-flex">
                                                    <a class="btn btn-sm btn-outline-info mr-5" href="/viewproject/{{this.id}}">View Project</a>
                                                    
                                                </td>
                                            </tr>
                                            {{/each}}
                                        {{/if}}
                                        <script>
                                            function form_confirm(form) {
                                                Swal.fire({
                                                    title: 'Are you sure?',
                                                    text: "You won't be able to revert this!",
                                                    icon: 'warning',
                                                    showCancelButton: true,
                                                    confirmButtonText: 'Yes, Request it!'
                                                }).then((result) => {
                                                    if (result.value) {
                                                        Swal.fire(
                                                                'Requested!',
                                                                'Project has been requested.',
                                                                'success'
                                                        )
                                                        return form.submit();
                                                    }
                                                });
                                                return false;
                                            }
                                        </script>
                                    {{/if}}
                                {{else}}
                                    {{#if project}}
                                        {{#each project}}
                                            <!-- <th class="text-center" colspan="6">Show All Proposed Projects Here.</th> -->
                                            <tr>
                                                <td class="text-capitalize">{{this.name}}</td>
                                                <td>{{this.year}}</td>
                                                <td>{{this.season}}</td>
                                                <td class="text-capitalize">{{this.ownerName}}</td>
                                                <td>
                                                    <a class="btn btn-sm btn-outline-info" href="/viewproject/{{this.id}}">View Project</a>
                                                </td>
                                            </tr>
                                        {{/each}}
                                    {{/if}}
                                {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->
</div>
<!-- /Container -->