<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Proposed</li>
        <li class="breadcrumb-item active" aria-current="page">Request</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<!-- Container -->
<div class="container-fluid">

    <!-- Title -->
    <div class="hk-pg-header">
        <div class="row w-100">
            <div class="col-12">
                <h4 class="hk-pg-title text-capitalize"><span class="pg-title-icon"><span
                        class="feather-icon text-primary"><i
                        data-feather="file"></i></span></span>Proposed Project</h4>
            </div>
        </div>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="text-capitalize hk-sec-title">Request For Projects</h5>
                <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dignissimos
                    perspiciatis sapiente sunt veniam. Dolorem dolorum ipsam praesentium, quis ratione velit. Asperiores
                    eaque eos laudantium modi! Nisi odio quasi totam.
                </p>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            {{#if success}}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                    <span class="alert-text"><strong>Success!</strong> {{success}}</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            {{/if}}
                            {{#if error}}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                    <span class="alert-text"><strong>Error!</strong> {{error}}</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            {{/if}}
                            <table id="datable_1" class="table table-hover w-100 display pb-30">
                                <thead>
                                <tr>
                                    <th>Project Name</th>
                                    {{#if teacherLogin}}
                                        <th>Student Name</th>
                                        <th>Student Email</th>
                                    {{/if}}
                                    {{#if studentLogin}}
                                        <th>Supervisor Name</th>
                                        <th>Supervisor Email</th>
                                    {{/if}}
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#if studentLogin}}
                                    {{#if obj}}
                                        {{#each obj}}
                                            <!-- <th class="text-center" colspan="6">Show All Proposed Projects Here.</th> -->
                                            <tr>
                                                <td class="text-capitalize">{{this.projectName}}</td>
                                                <td class="text-capitalize">{{this.ownerName}}</td>
                                                <td>{{this.ownerEmail}}</td>
                                                <td class="d-flex">
                                                    <a class="btn btn-sm btn-outline-info mr-5"
                                                       href="/viewproject/{{this.projectID}}">View Project</a>
                                                    <form onsubmit="return form_confirm(this);" method="POST"
                                                          action="/projects/deleteRequest/{{this.requestID}}">
                                                        <input  type="hidden" name="_csrf" value="{{../csrfToken}}">
                                                        <button class="btn btn-sm btn-outline-danger" type="submit">
                                                            Cancel Request
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {{/each}}
                                        <script>
                                            function form_confirm(form) {
                                                Swal.fire({
                                                    title: 'Are you sure?',
                                                    text: "You won't be able to revert this!",
                                                    icon: 'warning',
                                                    showCancelButton: true,
                                                    confirmButtonText: 'Yes, Cancel Request!'
                                                }).then((result) => {
                                                    if (result.value) {
                                                        Swal.fire(
                                                                'Canceled!',
                                                                'Project request has been canceled.',
                                                                'success'
                                                        )
                                                        return form.submit();
                                                    }
                                                });
                                                return false;
                                            }
                                        </script>
                                    {{/if}}
                                {{else if teacherLogin}}
                                    {{#if obj}}
                                        {{#each obj}}
                                            <!-- <th class="text-center" colspan="6">Show All Proposed Projects Here.</th> -->
                                            <tr>
                                                <td class="text-capitalize">{{this.projectName}}</td>
                                                <td class="text-capitalize">{{this.requestedByName}}</td>
                                                <td>{{this.requestedByEmail}}</td>
                                                <td class="d-flex">
                                                    <a class="btn mr-5 btn-sm btn-outline-info"
                                                       href="/viewproject/{{this.projectID}}">View Project</a>
                                                    <form onsubmit="return request_cancel(this);" method="POST"
                                                          action="/projects/deleteRequest/{{this.requestID}}">
                                                        <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                                        <button class="btn mr-5 btn-sm btn-outline-orange" type="submit">
                                                            Cancel Request
                                                        </button>
                                                    </form>
                                                    <form onsubmit="return request_confirm(this);" method="POST"
                                                          action="/projects/acceptRequest/{{this.requestID}}">
                                                        <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                                        <input type="hidden" name="projectID"
                                                               value="{{this.projectID}}">
                                                        <input type="hidden" name="ownerEmail"
                                                               value="{{this.ownerEmail}}">
                                                        <input type="hidden" name="requestedByEmail"
                                                               value="{{this.requestedByEmail}}">
                                                        <button class="btn btn-sm btn-outline-success" type="submit">
                                                            Accept Request
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {{/each}}
                                        <script>
                                            function request_confirm(form) {
                                                Swal.fire({
                                                    title: 'Are you sure?',
                                                    text: "You won't be able to revert this!",
                                                    icon: 'warning',
                                                    showCancelButton: true,
                                                    confirmButtonText: 'Yes, Accept Request!'
                                                }).then((result) => {
                                                    if (result.value) {
                                                        return form.submit();
                                                    }
                                                });
                                                return false;
                                            }
                                        </script>
                                        <script>
                                            function request_cancel(form) {
                                                Swal.fire({
                                                    title: 'Are you sure?',
                                                    text: "You won't be able to revert this!",
                                                    icon: 'warning',
                                                    showCancelButton: true,
                                                    confirmButtonText: 'Yes, Cancel Request!'
                                                }).then((result) => {
                                                    if (result.value) {
                                                        Swal.fire(
                                                                'Canceled!',
                                                                'Project request has been canceled.',
                                                                'success'
                                                        )
                                                        return form.submit();
                                                    }
                                                });
                                                return false;
                                            }
                                        </script>
                                    {{/if}}
                                {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->
</div>
<!-- /Container -->