<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item text-capitalize"><a href="#">{{accountName}}</a></li>
        <li class="breadcrumb-item"><a href="#">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Proposed</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<!-- Container -->
<div class="container-fluid">

    <!-- Title -->
    <div class="hk-pg-header mb-5">
        <div class="row w-100">
            <div class="col-md-6">
                <h4 class="text-capitalize hk-pg-title"><span class="pg-title-icon"><span class="feather-icon text-primary"><i
                        data-feather="file"></i></span></span>{{accountName}} Proposed Projects</h4>
            </div>
            <div class="col-md-6 pr-0 text-md-right">
                    <a class="btn btn-gradient-info" href="/proposed/proposeNewProject">Propose New Project</a>
            </div>
        </div>
    </div>
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <h5 class="text-capitalize hk-sec-title">View {{accountName}} Proposed Projects</h5>
                <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dignissimos
                    perspiciatis sapiente sunt veniam. Dolorem dolorum ipsam praesentium, quis ratione velit. Asperiores
                    eaque eos laudantium modi! Nisi odio quasi totam.
                </p>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            {{#if success}}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                    <span class="alert-text"><strong>Success!</strong> {{success}}</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            {{/if}}
                            <table id="datable_1" class="table table-hover w-100 display pb-30">
                                <thead>
                                <tr>
                                    <th>Name of Project</th>
                                    <th>year</th>
                                    <th>proposed By</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#if project}}
                                    {{#each project}}
                                        <!-- <th class="text-center" colspan="6">Show All Proposed Projects Here.</th> -->
                                        <tr>
                                            <td>{{this.name}}</td>
                                            <td>{{this.year}}</td>
                                            <td>{{this.ownerName}}</td>
                                            <td>{{this.status}}</td>
                                            <td class="d-flex">
                                                <a class="btn btn-sm btn-outline-info  mr-5" href="/viewproject/{{this.id}}">View Project</a>
                                                <a class="btn btn-sm btn-outline-orange mr-5" href="/projects/update/{{this.id}}">Edit</a>
                                                <form  method="POST" action="/projects/delete/{{this.id}}">
                                                    <input  type="hidden" name="_csrf" value="{{../csrfToken}}" class="form-control">
                                                    <button style="margin-top: 2px;" class="btn btn-sm btn-outline-red" type="submit">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {{/each}}
                                {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->
</div>
<!-- /Container -->